@model ComicsInventory.ViewModels.LatestAdditionViewModel

<h1>TEST of insert</h1>

@foreach (var i in Model.Additions)
{
    <div class="panel panel-info">
        <div class="panel-heading"><i class="fa fa-history addSpaceRight"></i>Last Added Comic &hellip; <span class="pull-right">@i.AddedOn</span>  </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://placehold.it/200x300/b6c197/000000?text=Comic+Image" alt="Cover image here" class="img-thumbnail"/>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Publisher</label>
                            <p>@i.Publisher</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Series</label>
                            <p>@i.SeriesName</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Number #</label>
                            <p>@i.IssueNumber</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Release Date</label>
                            <p>@i.PublishedDate</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Page Count</label>
                            <p>@i.PageCount</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Frequency</label>
                            <p>@i.Frequency</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Box #</label>
                            <p>@i.BoxId</p>
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <i class="fa fa-external-link"></i>
                            </label><br/>
                            <a target="_blank" href="http://www.comics.org/issue/@i.GcdId/" title="Open in New Tab">Original Source &amp; More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}